.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-font-sm {
    font-size: 10px;
}

.text-font-md {
    font-size: 14px;
}

.text-font-lg {
    font-size: 16px;
}

.text-style {
    font-size: 12px;
}

.text-light {
    color: #92949c;
}

.text-item {
    background: #ffffff;
    font-size: 10px;
    color: #92949c;
}

.text-item2 {
    background: #ffffff;
    font-size: 10px;
}

.text-item-order {
    text-align: center;
    font-size: 10px;
    color: #92949c;
}

.text-item-sell {
    font-size: 10px;
    color: #eb445a;
    text-align: center;
    float: left;
}

.text-item-buy {
    font-size: 10px;
    color: #01AC8F;
    text-align: center;
    float: left;
}

.text-item-current {
    font-size: 14px;
    color: #eb445a;
    font-weight: 800;
}

.text-item-dark {
    font-size: 10px;
    color: #222428;
}

.text-item-amount {
    font-size: 10px;
    color: #222428;
    float: right;
}


.text-item-dark-large {
    font-size: 14px;
    color: #222428;
    text-align: center;
    font-weight: 600;
}

.text-item-dark-title {
    font-size: 14px;
    color: #222428;
    font-weight: 600;
    padding: 5px 15px;
}

ion-input {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 8px 0;
}

.sc-ion-input-ios-h {
    padding: 0 5px !important;
}

.divider {
    height: 10px;
    background: #f7f7f7;
    /*min-height: 10px !important;*/
    /*margin-top: 30px;*/
}

.bg-buy {
    /*background-color: #e4f8ec;*/
}

.bg-sell {
    /*background-color: #f8e3e5;*/
}

.dynamic_changes {
    height: 1.363rem;
    position: absolute;
    right: 0;
    z-index: 0;
    opacity: .12;
    filter: alpha(opacity=10);
    -webkit-transition: all .1s;
    transition: all .1s;
    float: right;
    top: -0rem;

}


.bg-dec-color {
    background-color: #f75151;
}

.bg-buy-color {
    background-color: #01AC8F;
}

.trading_data_list_sellIndex {
    display: inline-block;
    min-width: .53333rem;
}


/***/
.my-custom-class {
    /*--background: #222;*/
}


.popover-cst {
    top: 67px;
    left: calc(115px - var(--ion-safe-area-right, 0px));
    transform-origin: right top;
    border-radius: 10px;
}

.popover-content.sc-ion-popover-ios {
    border-radius: 10px;
}

.popover-content.sc-ion-popover-ios {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    z-index: 10;
}

ion-toggle {
    /*--handle-border-radius: 14px 4px 4px 14px;*/
    /*--handle-height: 10px*/
}

ion-toggle.toggle-checked {
    /*--handle-border-radius: 4px 14px 14px 4px;*/
}

.order-ellipse{
    text-align: right;
    top: 15px;
    right: 15px;
}

/** select css style*/

.fixed-select{
    font-size: 10px;
    border: 1px solid #f7f7f7;
    border-radius: 2.5px;
    padding: 5px;
}

.fixed{
    list-style: none;
    position: absolute;
    width: 94%;
    z-index: 1;
    background: #fff;
    margin: 0;
    padding-left: 10px;
    border: 1px solid #f7f7f7;
    font-size: 10px;
    line-height: 1.8;
    /*color: #92949c;*/

}